<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <div class="frame">
      <div class="main-subtitle">
        <p>{{errorMessage}}</p>
      </div>
      <img src="/images/trollface.png" alt="">
    </div>
  </div>



  {{>footer}}
</body>

</html>
